*, *:before, *:after {
	box-sizing: border-box;
}

.container {
	max-width: 1024px;
	margin: 2em auto;
	position: relative;
}

.left-column {
	width: 15em;
	position: absolute;
	left:0;
	top:0;
	min-height: 500px;
	padding-right: 1em;
	border-right: 1px solid #888;
}

.right-column {
	margin-left: 15em;
	min-height: 500px;
}

img {
	max-width: 100%;
}

.repo-item {
	display: block;
	padding: 2em 4em;
	border-bottom: 1px solid #aaa;
}