body {
    margin-left: 85px;
    margin-top: 20px;
}
.flex-container {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.flex-item-left {
    list-style: none;
    background: white;
    height: 100%;
    margin: 0;
    padding: 2px 0px 2px 0px;
    line-height: 25px;
    color: #333;
    font-family: Helvetica, arial, sans-serif;
    font-size: .9em;
    text-align: left;
    font-weight: lighter;
    text-overflow: ellipsis;
}


.flex-item-right {
    background: white;
    min-width: 800px;
    margin-left: 15px;
    height: 100%;
    padding-top: 10px;
    line-height: 35px;
    font-family: Helvetica, arial, sans-serif;
    color: #333;
    font-size: 1.15em;
    text-align: left;
}
img {
    width: 230px;
    height: 230px;
    border-radius: 6px;
}
h3 {
    color: #333;
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.6em;
}
h4.lefty {
    overflow: hidden;
    width: 100%;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
    color: #666;
}
h4.righty {
    overflow: hidden;
    margin: 0;
    width: 100%;
    font-size: .8em;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    color: #666;
}
p {
    margin: 0;
    line-height: 32px;
    color: #333;
    font-family: Helvetica, arial, sans-serif;
    font-size: .5em;
    text-align: left;
    font-weight: lighter;
}
a:link {
    text-decoration: none;
    color: #448CD5;
    font-weight: bold;
    font-size: 1em;
}
a:visited{
  text-decoration: none;
    color: #448CD5;
}
a:hover {
    text-decoration: underline;
    color: #60BD59;
}
a:active{
  text-decoration: none;
    color: #448CD5;
}
.flex-item-left a:link {
    text-decoration: none;
    color: #448CD5;
    font-weight: lighter;
    font-size: 1em;
}
.flex-item-left a:visited{
  text-decoration: none;
    color: #448CD5;
}
.flex-item-left a:hover {
    color: #60BD59;
}
.flex-item-left a:active{
  text-decoration: none;
    color: #448CD5;
}
hr {
    color: #eeeeee;
    opacity: .3;
}
